<div class="main">
<div class="container">
  <div [@flyInOut]=state class="about">
    <h1 class="title is-primary">About Me</h1>
    <div class="columns">
      <div class="column is-half">
      <div class="icons">
          <a class="icon is-large is-right" href="#" target="blank">
              <i class="fab fa-github fa-lg" ></i>
          </a>
          <a class="icon is-large is-right" href="#" target="blank">
              <i class="fab fa-twitter fa-lg"></i>
          </a>
          <a class="icon is-large is-right" href="#" target="blank">
              <i class="fab fa-linkedin fa-lg"></i>
          </a>
            

      </div>
      <div class="content">
        <p>
            I am a full stack developer specializing on the MEAN Stack i.e.
            for the front-end Angular (HTML and TypeScript) and Ionic for mobile applications.
            And for the backend NodeJs, express and Mongo. .
        </p>
      </div>
      </div>
    </div>
   
  </div>
</div>
</div>
