<div class="send">
  <div class="box">
    <div class="notification is-warning">
      <div class="columns">
        <div class="column is-half">
          <div class="card">
              <header class="card-header">
                  <p class="card-header-title">
                  Send Ether
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <form [formGroup]="sendForm" *ngIf="accounts">
                      <label>From:</label>
                        
                      <div class="control is-expanded">
                          <div class="select is-fullwidth">
                         
                            <select name="accounts" formControlName ="from">
                              <option  *ngFor="let a of accounts" [ngValue] ="a"> {{a}}</option>
                            
                            </select>
                          </div>
                        </div>
                        <label>To:</label>
                        
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                        
                              <select name="accounts" formControlName ="to">
                                <option  *ngFor="let a of accounts" [ngValue] ="a"> {{a}}</option>
                              
                              </select>
                            </div>
                          </div>
                          <div class="field">
                              <label class="label">Value(Ether)</label>
                              <div class="control">
                                <input class="input" type="text" placeholder="Text input" formControlName="value" >
                              </div>
                              <p class="help">Enter amount in Ether</p>
                            </div>
                            <div class="field">
                                <label class="label">Gas</label>
                                <div class="control">
                                  <input class="input" type="text" placeholder="Text input" formControlName="gas">
                                </div>
                                <p class="help">Input gas</p>
                              </div>
                          
                                <div class="field">
                                    <label class="label">Gas Price (wei)</label>
                                    <div class="control">
                                      <input class="input" type="text" placeholder="Text input" formControlName="gasPrice">
                                    </div>
                                    <p class="help">Gas Price in wei. Default = </p>
                                  </div>
                                  <button class="button" type="submit" (click)="send()">Send</button>
                                  <button class="button">Reset</button>

                  </form>

                </div>
            

          </div>
        </div>
        <div class="column is-half">
          <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Link to transaction
                    </p>
            </header>
            <div class="card-content">
            <a target="blank" href="`https://etherscan.io${code}`">Ethascan link</a>
            </div>
          </div>

        </div>
      </div>
    

    </div>
  </div>
</div>