<nav class="navbar is-outlined">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink ="/">
      <img routerLink ="/" alt="" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample" (click)="dropDown()">
      <div>
          <span></span>
          <span></span>
          <span></span>
      </div>
   
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/" class="navbar-item">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" routerLink ="/dapps/playground">
          DAPPS
        </a>
        <div class="navbar-dropdown is-boxed">
          <a  routerLink ="/dapps/playground" class="navbar-item">
            Playground
          </a>
          <a class="navbar-item" routerLink="/">
            Modifiers
          </a>
          <a class="navbar-item" routerLink="/">
            Columns
          </a>
          <a class="navbar-item" routerLink="/">
            Layout
          </a>
          <a class="navbar-item" routerLink="/">
            Form
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" routerLink="/">
            Elements
          </a>
          <a class="navbar-item is-active" routerLink="/">
            Components
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" routerLink="/">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>
                Tweet
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" a routerLink="/">
              <span class="icon">
                <i class="fas fa-download"></i>
              </span>
              <span>Download</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="dropdown" class="menu">
    <ul class="menu-list">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/dapps/playground">Playground</a></li>
      </ul>
</div>
</nav>