<div class="certifications">
  <div class="heading">
    <div class="container">
      <p class="title">
        Certifications
      </p>
    </div>
  </div>
  <div class="separator"></div>
  <div class="container">
    <div class="mybody">
      <div class="columns">
        <div class="column  is-one-quarter">
          <!-- <div class="image">
            <img src="../../assets/images/angular2.png" alt="angular" width="100px" width="100px" >
          </div> -->
          <div class="cert-image nodejs"></div>
          <div>
              <h1 is-small>Server-side Development with NodeJS</h1>
              <p>The Hong Kong University of Science and Technology</p>
              <a>Read More</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

