<div class="invoke">
  <div class="title">
    <p>Invoke/ Interact with deployed contract</p>

  </div>
  <div class="box">
    <div class="notification is-link">
      <div class="columns">
        <div class="column is-half">
          <div class="card">
              <header class="card-header">
                  <p class="card-header-title">
                   Evoke/Execute Contract
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-content">  
                  <form action="submit">
                      <div class="field">
                          <label class="label">Functions</label>
                          <div class="control">
                            <div class="select">
                              <select>
                                <option>GetNum()</option>
                                <option>SetNum()</option>
                              </select>
                            </div>
                          </div>
                          <label> Number to SetNum()</label>
                        </div>

                  </form>
                </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
