<div class="contact-me">
  <form>
    <div class="box">
      <p class="title">Contact me</p>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="e.g Alex Smith">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
            </div>
          </div>
          <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
              </div>
            </div>
            
            <button class="button is-danger">Submit</button>  
    </div>
      
  </form>
</div>