<div class="compile">
  <p class="subtitle"> Compile & deploy contracts</p>
  <div class="box">
    <div class="notification">
      <div class="columns">
        <div class="column is-half">
          <div class="card">
              <header class="card-header">
                  <p class="card-header-title">
                  Compile code
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <form>
                      <div class="field">
                          <label class="label">Solidity code</label>
                          <div class="control">
                            <textarea class="textarea" placeholder="Textarea"></textarea>
                          </div>
                        </div>
                  </form>
                </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>