<div class="container">
    <h1 class="title is-3">Playground area</h1>
    <p class="subtitle is-6">This is designed to showcase web3's interaction with angular , metamask and ..</p>
    <div class="checkmetask">
            <article class="message" [ngClass]="installedMetamask ? 'is-primary' : 'is-danger'">
                    <div class="message-header">
                      <p>{{heading}}</p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                     {{message}}
                    </div>
                  </article>
    </div>
    <div class="mainBody">
        <app-connect></app-connect>
        <div class="mycard">
            <p>Accounts</p>
            <div class="box">
                <div class="accounts notification is-primary">
                    <div class="columns">
                        <div class="column is-half">
                            <div class="card">
                                <div class="card">
                                        <header class="card-header">
                                                <p class="card-header-title">
                                                 Accounts
                                                </p>
                                                <a href="#" class="card-header-icon" aria-label="more options">
                                                  <span class="icon">
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                  </span>
                                                </a>
                                              </header>
                                              <div class="card-content">
                                                  <div *ngIf="accounts">
                                                        <p>Number of Accounts : {{totalAccounts}}</p>
                                                      <table class="table is-bordered ">
                                                          <thead>
                                                              <tr class="table is-primary">
                                                                  <th>N.O</th>
                                                                  <th class="table is-fullwidth">Number</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody div *ngFor ="let a of accounts; let rowIndex=index">
                                                              <tr>
                                                                  <td>{{rowIndex +1 }}</td>
                                                                  <td> {{a}}</td>
                                                              </tr>
                                                          </tbody>
                                                      </table>
                                                 

                                                  </div>
                                                  <button class="button is-primary" (click)="getInfo()">
                                                      Get Account Info
                                                  </button>
                                        
                                              
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="column">
                        <div class="card">
                                <header class="card-header">
                                        <p class="card-header-title">
                                         Balance
                                        </p>
                                        <a href="#" class="card-header-icon" aria-label="more options">
                                          <span class="icon">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                          </span>
                                        </a>
                                      </header>
                                      <div class="card-content">
                                          <div *ngIf="accounts">
                                              <p>Account Balance: {{balance}} ether</p>

                                          </div>
                                      </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <app-unlock *ngIf="accounts" [accounts]="accounts"></app-unlock>
    <app-send [accounts]="accounts"></app-send>
    <app-compile></app-compile>
    <app-deploy></app-deploy>

   
</div>
